<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599155764226-mr9gaoc7g2ouv6s0cf031b34dsh98jcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599155764226-mr9gaoc7g2ouv6s0cf031b34dsh98jcr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599155764226-66ecoo1ae8ooja53uoda7rq8a3lmhi8f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQblwHOUCf8u1TakHd0yIqs6U2DYLNxmU</string>
	<key>GCM_SENDER_ID</key>
	<string>599155764226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssp.cookville1stop</string>
	<key>PROJECT_ID</key>
	<string>cookville1stop-22333</string>
	<key>STORAGE_BUCKET</key>
	<string>cookville1stop-22333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599155764226:ios:19fceab198fd559c690b1b</string>
	<key>DATABASE_URL</key>
	<string>https://cookville1stop-22333-default-rtdb.firebaseio.com</string>
</dict>
</plist>